<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>




# BEGIN Custom Redirection Rules
<IfModule mod_rewrite.c>
RewriteEngine on
##RewriteBase /

##RewriteRule ^(legacy)($|/) - [L]

RedirectMatch 302 /campaignsplus https://www.mumara.com/campaigns
RedirectMatch 302 /campaignsplus/(.*) https://www.mumara.com/campaigns/$1
RedirectMatch 302 /campaignsplus/campaign-feature/(.*) https://www.mumara.com/campaigns/features/$1
RedirectMatch 302 /campaigns/campaign-feature/(.*) https://www.mumara.com/campaigns/features/$1

# Redirect 302 /about https://www.mumara.com/legacy/about

Redirect 302 /about https://www.mumara.com/legacy/about
Redirect 302 /addons https://www.mumara.com/legacy/addons
Redirect 302 /pricing https://www.mumara.com/legacy/pricing
Redirect 302 /request-demo https://www.mumara.com/legacy/request-demo
# Redirect 302 /blog https://www.mumara.com/legacy/blog
Redirect 302 /contact https://www.mumara.com/legacy/contact
##Redirect 302 /mumara-campaigns-for-real https://www.mumara.com/legacy/mumara-campaigns-for-real
##Redirect 302 /deliverability-series https://www.mumara.com/legacy/deliverability-series
Redirect 302 /addons/advanced-export https://www.mumara.com/legacy/addons/advanced-export
Redirect 302 /addons/schedule-multiple-campaigns-multiple-campaigns-in-one-go https://www.mumara.com/legacy/addons/schedule-multiple-campaigns-multiple-campaigns-in-one-go
Redirect 302 /addons/split-testpretest-your-campaign https://www.mumara.com/legacy/addons/split-testpretest-your-campaign
Redirect 302 /addons/powermta-server-integration-remote-bounce-processing https://www.mumara.com/legacy/addons/powermta-server-integration-remote-bounce-processing
Redirect 302 /addons/multiple-smtp-accounts-smtp-rotation-ip-rotation-smtp-groups https://www.mumara.com/legacy/addons/multiple-smtp-accounts-smtp-rotation-ip-rotation-smtp-groups
Redirect 302 /addons/ip-reputation-and-domain-reputation-monitoring https://www.mumara.com/legacy/addons/ip-reputation-and-domain-reputation-monitoring
Redirect 302 /domain-masking https://www.mumara.com/legacy/domain-masking
Redirect 302 /addons/rotate-content-spin-tags https://www.mumara.com/legacy/addons/rotate-content-spin-tags
Redirect 302 /addons/auto-responders https://www.mumara.com/legacy/addons/auto-responders
Redirect 302 /addons/adknowledge-adstation-integrated-addon https://www.mumara.com/legacy/addons/adknowledge-adstation-integrated-addon
Redirect 302 /addons/fbl-processing https://www.mumara.com/legacy/addons/fbl-processing
Redirect 302 /addons/user-management-suite-multiple-user-accounts-privacy-control https://www.mumara.com/legacy/addons/user-management-suite-multiple-user-accounts-privacy-control
Redirect 302 /addons/email-verifier https://www.mumara.com/legacy/addons/email-verifier
Redirect 302 /addons/geo-tracking-tool https://www.mumara.com/legacy/addons/geo-tracking-tool
Redirect 302 /addons/triggers-setup-predefined-actions https://www.mumara.com/legacy/addons/triggers-setup-predefined-actions
Redirect 302 /addons/website-forms-subscription-forms-opt-in-forms https://www.mumara.com/legacy/addons/website-forms-subscription-forms-opt-in-forms
Redirect 302 /addons/white-labeling-rebranding https://www.mumara.com/legacy/addons/white-labeling-rebranding
Redirect 302 /addons/dynamic-content-tag-create-personalized-content https://www.mumara.com/legacy/addons/dynamic-content-tag-create-personalized-content
Redirect 302 /addons/automated-backups-cloud-storage https://www.mumara.com/legacy/addons/automated-backups-cloud-storage
Redirect 302 /addons/multi-threading-parallel-sending-activity https://www.mumara.com/legacy/addons/multi-threading-parallel-sending-activity
##Redirect 302 /sender-authentications https://www.mumara.com/legacy/sender-authentications
##Redirect 302 /ip-domain-reputation-and-deliverability https://www.mumara.com/legacy/ip-domain-reputation-and-deliverability
##Redirect 302 /spam-filters-deliverability https://www.mumara.com/legacy/spam-filters-deliverability
##Redirect 302 /mumara-email-list-hygiene-features https://www.mumara.com/legacy/mumara-email-list-hygiene-features
##Redirect 302 /mailer-inbox-sender-deliverability https://www.mumara.com/legacy/mailer-inbox-sender-deliverability
##Redirect 302 /ab-testing-tool https://www.mumara.com/legacy/ab-testing-tool
##Redirect 302 /personalized-email-is-your-key-to-success https://www.mumara.com/legacy/personalized-email-is-your-key-to-success
##Redirect 302 /mumara-featured-integrations https://www.mumara.com/legacy/mumara-featured-integrations
##Redirect 302 /evergreen-email-campaign https://www.mumara.com/legacy/evergreen-email-campaign
##Redirect 302 /building-an-email-list-wrong-practices https://www.mumara.com/legacy/building-an-email-list-wrong-practices
##Redirect 302 /5-ideas-for-email-personalization https://www.mumara.com/legacy/5-ideas-for-email-personalization
##Redirect 302 /mumara-list-segmentation-whats-new https://www.mumara.com/legacy/mumara-list-segmentation-whats-new
##Redirect 302 /self-hosted-email-marketing-software-or-esp https://www.mumara.com/legacy/self-hosted-email-marketing-software-or-esp
##Redirect 302 /boost-email-open-rate-part-ii https://www.mumara.com/legacy/boost-email-open-rate-part-ii
##Redirect 302 /boost-email-open-rate-part-l https://www.mumara.com/legacy/boost-email-open-rate-part-l
##Redirect 302 /interspire-email-marketer-mumara https://www.mumara.com/legacy/interspire-email-marketer-mumara
##Redirect 302 /powermta-configuration-esp-sending-server https://www.mumara.com/legacy/powermta-configuration-esp-sending-server
##Redirect 302 /mumara-list-segmentation-new-options https://www.mumara.com/legacy/mumara-list-segmentation-new-options
##Redirect 302 /mumara-addons https://www.mumara.com/legacy/mumara-addons
##Redirect 302 /5-features-to-consider-in-email-marketing-software https://www.mumara.com/legacy/5-features-to-consider-in-email-marketing-software
##Redirect 302 /persistent-smtp-connection-and-non-persistent-loop https://www.mumara.com/legacy/persistent-smtp-connection-and-non-persistent-loop
##Redirect 302 /segment-your-email-list-for-better-response-rate/? /legacy/segment-your-email-list-for-better-response-rate

Redirect 302 /mumarasmsplus/ /smsplus/
Redirect 302 /mumara-classic/ /classic/
Redirect 302 /classic/classic-pricing/ /classic/pricing/
Redirect 302 /sms/sms-packages/ /sms/pricing/

Redirect 302 /author/Wasif%20Ahmed/ /author/wasif-ahmed/
Redirect 302 /author/Adnan%20Ahmed/ /author/Adnan-Ahmed/
Redirect 302 /classic/features/effectively-deal-with-spam-complaints/ /classic/features/feedback-loops-processor/

Redirect 302 /campaignsplus-gdpr/ /mumara-campaigns-gdpr/
Redirect 302 /campaignsplus-mumaraclassi-whats-the-difference/ /mumara-campaigns-mumaraclassi-whats-the-difference/

Redirect 302 /campaigns/features/auto-backup/ /campaigns/
Redirect 302 /campaigns/features/auto-upgrade/ /campaigns/
Redirect 302 /campaigns/features/bounces-and-spam-processing/ /campaigns/
Redirect 302 /campaigns/features/cohesive-process-of-automation/ /campaigns/
Redirect 302 /campaigns/features/contact-management/ /campaigns/
Redirect 302 /campaigns/features/content-personalization/ /campaigns/
Redirect 302 /campaigns/features/customize-message-headers/ /campaigns/
Redirect 302 /campaigns/features/email-builder/ /campaigns/
Redirect 302 /campaigns/features/email-list-management/ /campaigns/
Redirect 302 /campaigns/features/flexibility-customization/ /campaigns/
Redirect 302 /campaigns/features/integrated-email-delivery-services/ /campaigns/
Redirect 302 /campaigns/features/multiple-smtpssending-nodes/ /campaigns/
Redirect 302 /campaigns/features/multithreading/ /campaigns/
Redirect 302 /campaigns/features/regular-or-evergreen-email-campaigns/ /campaigns/
Redirect 302 /campaigns/features/reporting-and-statistics/ /campaigns/
Redirect 302 /campaigns/features/sendingmasking-domains/ /campaigns/
Redirect 302 /campaigns/features/smart-segments/ /campaigns/
Redirect 302 /campaigns/features/split-testing/ /campaigns/
Redirect 302 /campaigns/features/staff-management/ /campaigns/
Redirect 302 /campaigns/features/triggers/ /campaigns/
Redirect 302 /campaigns/features/web-forms/ /campaigns/
Redirect 302 /campaigns/features/white-labeling/ /campaigns/

</IfModule>